[submodule "ChibiOS"]
	path = ChibiOS
	url = https://github.com/e-puck2/ChibiOS.git
[submodule "blackmagic"]
	path = blackmagic
	url = https://github.com/e-puck3/blackmagic.git
[submodule "threads_utilities_ChibiOS"]
	path = threads_utilities_ChibiOS
	url = https://github.com/e-puck3/threads_utilities_ChibiOS.git
