*.DS_Store
/temp/
/ToDel/
/stlink-100mA/
/stlink-500mA/
/obj/
/bin/
/DebugConfig/
/f4discovery-100mA/
*.cbp
*.ebp
*.elay
*.cbp.save
*.depend
*.elf
*.emblocks_ebp
*.layout
*.uvoptx
*.uvprojx
*.uvmpw
*.lnp
*.layout.save
